body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    background-color: rgb(221, 255, 0);
    border: 10px solid rgb(34, 128, 0);
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgb(0, 128, 70);
}

.red-piece {
    background-color: rgb(255, 0, 157);
}

.yellow-piece {
    background-color: rgb(0, 255, 85);
}